{% extends "base.html" %}

{% block body_contents %}
<nav class="navbar navbar-default" style="box-shadow: 0 2px 18px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">UNSWtalk</a>
    </div>
  </div>
</nav>
<br>
<div class="w3-container">
<center>

    <br>
  <div class="w3-card-4" style="width:50%">
    <div class="w3-container w3-yellow">
      <h2>Change password</h2>
    </div>
          {{error}}
<br>
    <form class="w3-container" action="changepassword" method="POST">
      <p style="text-align:left">
          <label>Zid</label>
      <input class="w3-input" type="text" name="zid"></p>
        <p style="text-align:left">
          <label>Email</label>
      <input class="w3-input" type="text" name="email"></p>
        <p style="text-align:left">
          <label>Password</label>
      <input class="w3-input" type="text" name="password"></p>

    <button class="w3-btn w3-white w3-border w3-round-large" type="submit">Save</button>
    </form>
      <br>
  </div>
</center>
</div>

{% endblock %}