{% extends "base.html" %}

{% block body_contents %}

<nav class="navbar navbar-default" style="box-shadow: 0 2px 18px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">UNSWtalk</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home?zid={{zid}}">Home</a></li>
      <li><a href="/search?zid={{zid}}">Search</a></li>
      <li class="active"><a href="/friendlist?zid={{zid}}">Friends</a></li>
      <li><a href="/selfprofile?zid={{zid}}">Profile</a></li>
    </ul>
  </div>
</nav>
<br>
<center><h1>Friends list</h1></center>
<br>
<div class="w3-container">
  <ul class="w3-ul w3-card-4">
{% for friend in friends %}

    <li class="w3-bar">
      <form action="deletefriend" method="POST">
<input type="hidden" name="friend" value="{{friend[2]}}">
<input type="hidden" name="zid" value="{{zid}}">
        <button class="w3-bar-item w3-button w3-white w3-xlarge w3-right" type="submit">×</button>
        </form>
        {% if friend[1]!=0 %}
      <img src={{friend[1]}} class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        {% else %}
       <img src="{{url_for('static', filename='static/headshot.jpg')}}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      {% endif %}
      <div class="w3-bar-item">
          <span class="w3-large"><a href="/friend_page?zid={{zid}}&friendzid={{friend[2]}}">{{friend[0]}}</a></span><br>
      </div>
    </li>
{% endfor %}
  </ul>
</div>

{% endblock %}
